<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>素材网站-联系客服</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <script src="../../static/js/jquery.min.js"></script>
</head>

<body style="min-width: 1200px">

<section class="body">
    <!-- 登录框 -->
    <section class="login letme_login">
        <div class="login-logo password_logo letme_logo">
            <img src="../../static/images/logo.png" alt="logo">&nbsp;&nbsp;&nbsp;<span>--联系客服</span>
        </div>


        <form action="" class="password_form letme_form" id="password_display_phone">
            <div class="letme_form_inner">
                <div>
                    <img src="../../static/images/flash_qq.png">
                    <span class="letme_kefu" style="color: #323232">客服</span><img src="../../static/images/1.png" style="width: 20px"><span>：</span>
                    <span style="font-size: 12px;border:1px solid #05488C;border-radius: 10px; padding:3px 7px;color: #05488C;cursor: pointer">点击咨询</span>
                </div>
                <div>
                    <img src="../../static/images/flash_qq.png">
                    <span class="letme_kefu" style="color: #323232">客服</span><img src="../../static/images/2.png" style="width: 20px"><span>：</span>
                    <span style="font-size: 12px;border:1px solid #05488C;border-radius: 10px; padding:3px 7px;color: #05488C;cursor: pointer">点击咨询</span>
                </div>
            </div>
        </form>




    </section>
    <!-- 联系客服 -->
    <a class="service">联系客服</a>
</section>

</body>
<script src="../../static/js/flash_home.js"></script>
</html>