{extend name="base/base" /}
{block name="main"}
<div class="row">


    <div class="col-xs-12">
        <h3>前台网站背景图片：</h3>
        <ul class="mailbox-attachments clearfix">
        <li style="width:450px;">
            {empty name="front_pic"}
            <span class="mailbox-attachment-icon has-img"></span>
            {/empty}
            {notempty name="front_pic"}
            <span class="mailbox-attachment-icon has-img"><img src="{$front_pic}" alt="Attachment"></span>
            {/notempty}
            <div class="mailbox-attachment-info">
                <a href="#" class="mailbox-attachment-name">备注：只能使用一张背景图片，只支持JPG、PNG，大小不超过5M（推荐尺寸2560*1440）</a>
                <button class="btn-danger" onclick="deleteEntity(4)">删除</button>
                <form action="/admin/config/edit/4" method="post" enctype="multipart/form-data">
                    <input id="upDownPic" type="file" name="image" style="width: 14em;text-overflow: ellipsis;overflow: hidden;float:left;">
                    <input id="import" style="text-decoration: none;display: inline-block;position: relative;right:1px;top: 0px;background: #67AEC2;color: white;border: none;border-radius: 5px;padding:6px 12px;" type="submit"   value="确认更换" />
                </form>
                <span class="mailbox-attachment-size">
                          <a href="#" class="btn btn-default btn-xs pull-right"></a>
                        </span>
            </div>
        </li>
        </ul>
        <br>
        <br>
        <br>
        <h3>后台网站背景图片：</h3>
        <ul class="mailbox-attachments clearfix">
            <li style="width:450px;">
                <span class="mailbox-attachment-icon has-img"><img src="{$back_pic}" alt="Attachment"></span>

                <div class="mailbox-attachment-info">
                    <a href="#" class="mailbox-attachment-name">备注：只能使用一张背景图片，只支持JPG、PNG，大小不超过5M（推荐尺寸2560*1440）</a>
                    <button class="btn-danger" onclick="deleteEntity(5)">删除</button>
                    <form action="/admin/config/edit/5" method="post" enctype="multipart/form-data">
                        <input id="" type="file" name="image" style="width: 14em;text-overflow: ellipsis;overflow: hidden;float:left;">
                        <input id="" style="text-decoration: none;display: inline-block;position: relative;right:1px;top: 0px;background: #67AEC2;color: white;border: none;border-radius: 5px;padding:6px 12px;" type="submit"   value="确认更换" />
                    </form>
                    <span class="mailbox-attachment-size">
                          <a href="#" class="btn btn-default btn-xs pull-right"></a>
                        </span>
                </div>
            </li>
        </ul>

    </div>


</div>









<script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $('#example1').DataTable({
            'paging'      : true,
            'lengthChange': true,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : true,
        });
    });

    //添加
    $("#add").click(function () {
        var notice_content2 =  $("[name='notice_content2']").val();
        var is_open2 =  $("[name='is_open2']").val();
        if(notice_content2 == '' || is_open2 == ''){
            alert('缺少输入');
            return false;
        }
        $.ajax({
            type: "post",
            url: '/admin/notice/add',
            data: {
                'notice_content': notice_content2,
                'is_open': is_open2
            },
            dataType: "json",
            success: function(data) {
                console.log(data);
                alert(data.msg);
                if(data.code == '201'){
                    window.location.reload();
                }
            },
            error:function(){
                alert('系统错误');
            }
        });
    });


    function deleteEntity(id) {
        var result = confirm('确定删除该背景图吗？');
        if(result == false){
            return false;
        }
        $.ajax({
            type: "post",
            url: '/admin/delete',
            data: {
                'type': 4,
                'id': parseInt(id)
            },
            dataType: "json",
            success: function(data) {
                alert(data.msg);
                if(data.code == '204'){
                    window.location.reload();
                }
            },
            error:function(){
                alert('系统错误');
            }
        });
    }








    //修改
    // $(".edit").click(function () {
    //     var account_number =  $("[name='account_number']").val();
    //     var password =  $("[name='password']").val();
    //     var type = $("[name='type']").val();
    //     if(account_number == '' || password == '' || type == ''){
    //         alert('缺少输入');
    //         return false;
    //     }
    //     $.ajax({
    //         type: "post",
    //         url: '/admin/account/add',
    //         data: {
    //             'account_number': account_number,
    //             'password': password,
    //             'type': type
    //         },
    //         dataType: "json",
    //         success: function(data) {
    //             alert(data.msg);
    //             if(data.code == '201'){
    //                 window.location.reload();
    //             }
    //         },
    //         error:function(){
    //             alert('系统错误');
    //         }
    //     });
    // })





</script>

{/block}