{extend name="base/base" /}
{block name="main"}
<style>
    .well{
        margin-left: 15px;
        margin-right: 15px;
    }

    .box{
        border-top: none;
    }

    #distribute{
        margin-left: 5px;
    }
    .file-box{
        display: inline-block;
        position: relative;
        padding: 6px 12px;
        border-radius: 5px;
        overflow: hidden;
        color:#fff;
        background-color: #ccc;
    }
    .file-btn{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        outline: none;
        background-color: transparent;
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
</style>
<div class="row">

    <div class="col-xs-12">
        <div class="box">

            <div style="position: relative;margin-bottom: 20px;margin-left: 20px;padding: 20px 20px 20px 20px">
                <h4>当前教程视频网址：</h4>
                <br>
                <input type="text" class="form-control" value="{$config_value}" name="config_value">
                <br>
                <button  class="btn btn-primary" id="sure">确认更换</button>
                &nbsp;
                <a href="{$config_value}">点击查看</a>
            </div>


        </div>
    </div>
</div>


<script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $("#sure").click(function () {
        var value =  $("[name='config_value']").val();
        if(value == ''){
            alert('不能为空');
            window.location.reload();
            return false;
        }
        $.ajax({
            type: "post",
            url: '/admin/config/edit/1',
            data: {
                'config_value': value
            },
            dataType: "json",
            success: function(data) {
                alert(data.msg);
            },
            error:function(){
                alert('系统错误');
            }
        });
        
    })

</script>
{/block}